{% extends 'layout_2.html' %}

{% block content %}

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/about_me.css') }}">

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/WEBsize-2.jpg') }}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/WEBsize-2.jpg') }}">
            <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/WEBsize-2.jpg') }}" alt="room" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Redefining HR with a Millenial Twist</span>
            <p class="cs-text">
                I'm Jasmin, your personal HR professional with over eight years of industry experience. I started HR Suite Spot because I have a deep-rooted passion for helping others succeed in their professional journey. I believe that everyone deserves a fulfilling and rewarding career and I help make this happen by giving you honest feedback and supporting you to make your goals a reality.
            </p>
            <h3>But Why Choose Me as Your Career Coach?</h3>
            <p class="cs-text">
                I&apos;ve got all the right qualifications - armed with a PHR® certificate from the HR Certification Institute and a Management degree focused on Human Resources.  
            </p>
            <p class="cs-text">
                But I&apos;ve also got the right practical skills too. Having worked various Human Resource roles, including HR Business Partner, HR Manager, HR Generalist, Recruiting Assistant, and more. This means that I know the ins and outs of what HR and recruitment teams are looking for when hiring young professional candidates like you.  
            </p>
            <p class="cs-text">
                Not only that, but I&apos;ve worked in a broad range of industries such as Aerospace, Department of Defense Contracting, Banking, Mergers and Acquisitions, Transportation, Healthcare, and beyond. Working with both global and local companies has provided me with the inside knowledge you need to win that dream job, no matter the industry.   
            </p>
            <p class="cs-text">
                I also have a passion for coaching. My love for teaching and mentoring young professionals drives me to empower individuals like you to achieve career greatness.  
            </p>
            <p class="cs-text">
                Last, but most importantly, I make sure to get the job done. My passion means that I won&apos;t rest until we see your goals achieved. 
            </p>
            <p class="cs-text">
                So if you&apos;re looking for a Career Coach that has the right blend of professionalism, ease of communication, and a fun approach to career coaching. Then I&apos;d love to help you take your career to the next level and help you find your Suite Spot.   
            </p>
            <a href="/booking/coaching" class="cs-button-solid">Get Started Today</a>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}