{% extends 'layout_2.html' %}

{% block content %}
<script>
  const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("timezone-input").value = timezone;
  });
</script>

<section id="sbs-2180">
<div>
  <form method="post" action="/calendar">
    <input type="hidden" name="timezone" id="timezone-input">
    <span>Please submit using 24hr time format.</span>
    <ul>
        {% for day in days_of_week %}
        <li id = day_of_week>
          <label for="{{ day }}">
            <span class="day-label">{{ day }}:</span>
            <input name="{{ day }}" id="start" placeholder="YEAR-MM-DD HH:MM:SS PST"/>
            <input name="{{ day }}" id="end" placeholder="YEAR-MM-DD HH:MM:SS PST"/>
            <label>
              <input type="hidden" name="repeat_{{ day }}" value="false"> 
              <input type="checkbox", name="repeat_{{ day }}", value="true">
              Re-occurring
            </label>
          </label>
        </li>
        {% endfor %}
      </ul>
    <button type="submit">Submit Availability</button>
  </form>
</div>
</section>
<script src="{{ url_for('static', filename='javascript/calendar.js') }}"></script>
{% endblock %}