{% extends 'layout_2.html' %}

{% block content %}
<section id="hero-1946">
<div class="cs-container">
  <form method="post" action="/calendar">
    <span>Please submit using 24hr time format. </span>
    <ul>
        {% for day in days_of_week %}
        <li id = day_of_week>
          <label for="{{ day }}">
            <span class="day-label">{{ day }}:</span>
            <input name="{{ day }}" id="start" placeholder="YEAR-MM-DD HH:MM:SS PST"/>
            <input name="{{ day }}" id="end" placeholder="YEAR-MM-DD HH:MM:SS PST"/>
          </label>
        </li>
        {% endfor %}
      </ul>
      
    <button type="submit">Submit Availability</button>
  </form>
</div>
</section>
{% endblock %}