{% extends 'layout_2.html' %}
{% block content %}
  <script src="https://js.stripe.com/v3/"></script>
  <body>
    <!-- Display a payment form -->
      <div id="checkout" style="padding-top: 6rem;">
        <!-- Checkout will insert the payment form here -->
      </div>
  </body>
<!-- checkout.html -->
<div id="checkout-data"
     data-slot-id="{{ slot_id }}"
     data-hold-token="{{ hold_token }}"
     data-heartbeat="{{ heartbeat }}">   {# heartbeat already in ms #}
</div>
<script src="{{ url_for('static', filename='javascript/checkout.js') }}" defer></script>

{% include 'footer.html' %}
{% endblock %}