{% extends 'layout_2.html' %}
{% block content %}
<section id="hero-1946">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Your One-Stop Destination to Strategize Your Career Journey</h2>
            <div class="cs-flex">
                <p class="cs-text">Are you ready to level up your career? You're in the right place. Let's work together to elevate your resume, sharpen your skills, and unlock new opportunities.</p>
                <!-- <a href="" class="cs-button-solid">Read More</a> -->
            </div>
        </div>
        <div class="cs-item">
            <h2>Craft the Perfect Resume</h2>
            <p> expert tips and resources, I can help you turn your resume into a standout document that reflects your unique professional journey</p>
            Learn More [button]
        </div>
        
        <div class="cs-item">
            <h2>Your Interviews</h2>
            <p> the art of interviews with my fun and effective strategies in my one-to-one coaching sessions</p>
            Learn More [button]
        </div>

        <div class="cs-item">
            <h2>Your Career Path </h2>
            <p>I&apos;ll help you navigate your career journey with personalized guidance and strategic planning</p>
            Learn More [button]
        </div>
    </div>
</section>
{% endblock %}
                                