{% extends 'layout.html' %}

{% block content %}
<nav>
    <div class="nav-container">
        <!-- Logo -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/hrsp_logo_main_edit1.png') }}" alt="Logo" class="logo">
        </div>

        <!-- Navbar Links -->
        <div class="navbar-container">
            <ul class="navbar">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
    
{% endblock %}