<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->
{% extends 'layout_2.html' %}
{% block content %}
<section id="sbs-2180">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Welcome to HR Suite Spot</span>
          <h2 class="cs-title">Your One-Stop Destination to Strategize Your Career Journey</h2>
          <p class="cs-text">
            Are you ready to level up your career? You're in the right place. Let's work together to elevate your resume, sharpen your skills, and unlock new opportunities.
          </p>
          <div class="cs-button-box">
              <a href="" class="cs-button-transparent">
                  Learn More
                  <img class="cs-button-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-right2.svg" alt="icon" width="20" height="20">
              </a>
              <a href="" class="cs-button-play">
                  Watch Video
                  <div class="cs-wrapper">
                      <img class="cs-button-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-right4.svg" alt="icon" width="16" height="16">
                  </div>
              </a>
          </div>
      </div>
      <picture class="cs-picture">
          <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/WEBsize-21.jpg') }}" alt="wedding" width="742" height="640">
      </picture>
  </div>
  <div class="cs-container">
    <div class="transition-piece">
        <h1>Why HR SuiteSpot? </h1>
        <h2>Professionalism, approachability and a hint of feminine flair.</h2>
</div>
<div class="cs-container">
    <div class="cs-content">
        <span class="cs-topper">Growing Together</span>
        <h2 class="cs-title">Helping you get the career you deserve</h2>
        <p class="cs-text">
          Whether it's career coaching and strategization, interview prep, or resume reviews, you're covered here.
        </p>
        <div class="cs-button-box">
            <a href="" class="cs-button-transparent">
                Services
                <img class="cs-button-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-right2.svg" alt="icon" width="20" height="20">
            </a>
        </div>
    </div>
    <picture class="cs-picture">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/WEBsize-22.jpg') }}" alt="wedding" width="742" height="640">
    </picture>
</div>
</section>
{% endblock %}                      